body,
ul,
ol,
li,
h1,
h2,
form,
legend,
input,
textarea,
p,
th,
td {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  border: 0;
}
em,
strong,
th {
  font-style: normal;
  font-weight: normal;
}
li {
  list-style: none;
}
th {
  text-align: left;
}
h1,
h2,
h3 {
  font-size: 100%;
  font-weight: normal;
}
input,
textarea,
select,
button {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
time {
  display: inline-block;
}
@font-face {
  font-family: "lichess";
  src: url("../font45/fonts/lichess.eot");
  src: url("../font45/fonts/lichess.eot?#iefix") format("embedded-opentype"), url("../font45/fonts/lichess.woff") format("woff"), url("../font45/fonts/lichess.ttf") format("truetype"), url("../font45/fonts/lichess.svg#lichess") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Sans Exhaustive';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans'), local('NotoSans'), url(http://fonts.gstatic.com/s/notosans/v6/0Ue9FiUJwVhi4NGfHJS5uA.ttf) format('truetype');
}
.is::before,
[data-icon]::before,
.is-after::after {
  font-size: 1.2em;
  vertical-align: middle;
  font-family: "lichess" !important;
  font-style: normal !important;
  font-weight: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: attr(data-icon);
}
.is.text::before,
.text[data-icon]::before {
  margin-right: 5px;
}
[data-icon].is2::before {
  font-size: 20px;
}
[data-icon].is3::before {
  font-size: 22px;
}
[data-icon].is4::before {
  font-size: 30px;
}
.is4.text::before {
  margin-right: 10px;
}
[data-icon].is-green::before {
  color: #759900;
}
[data-icon].is-red::before {
  color: #dc322f;
}
[data-icon].is-gold::before {
  color: #d59120;
}
body.blind_mode .is::before,
body.blind_mode .is::after,
body.blind_mode [data-icon]::before {
  content: none;
  display: none;
  visibility: hidden;
}
.is.color-icon.white::before {
  content: "K";
}
.is.color-icon.black::before {
  content: "J";
}
.is.color-icon.random::before {
  content: "l";
}
@font-face {
  font-family: 'ChessSansPiratf';
  src: url("../fonts/ChessSansPiratf.eot");
  src: url("../fonts/ChessSansPiratf.eot?#iefix") format("embedded-opentype"), url("../fonts/ChessSansPiratf.woff") format("woff"), url("../fonts/ChessSansPiratf.ttf") format("truetype"), url("../fonts/ChessSansPiratf.svg#lichess") format("svg");
}
.thin {
  font-family: 'Roboto';
  font-weight: 300;
}
#blind_mode {
  margin-left: -99999px;
  height: 0;
}
body.blind_mode #blind_mode {
  text-align: center;
  padding: 5px 0;
  background: #888;
  margin-left: 0;
  height: auto;
}
/* jquery-ui */

.ui-helper-hidden {
  display: none;
}
.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.ui-button {
  display: inline-block;
  text-align: center;
}
.ui-button .ui-button-text {
  display: block;
  line-height: 1.4;
}
.ui-button-text-only .ui-button-text {
  padding: .4em 1em;
}
div.ui-buttonset {
  margin-left: -0.4em;
}
div.ui-buttonset .ui-button {
  margin-right: -.4em;
}
.buttonset .button {
  margin-left: -2px;
  margin-right: -3px;
}
.difficulty > .button {
  display: block;
  text-align: center;
  margin: 1em 0;
}
ul.ui-autocomplete {
  width: 200px;
  background: #FAFAFA;
  border: 1px solid #DADADA;
  max-height: 200px;
  overflow: auto;
}
ul.ui-autocomplete li a {
  display: block;
  padding: 0.6em 1em;
}
ul.ui-autocomplete li a.ui-state-focus {
  background: #E1F6F8;
  color: #444;
}
.ui-corner-right {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.ui-corner-left {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.ui-corner-all {
  border-radius: 2px;
}
/* slider */

.ui-slider {
  background: #fff;
  position: relative;
  text-align: left;
}
.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 1.2em;
  height: 1.2em;
  cursor: default;
}
.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  background-position: 0 0;
}
.ui-slider-horizontal {
  height: .8em;
}
.ui-slider-horizontal .ui-slider-handle {
  top: -.3em;
  margin-left: -.6em;
}
.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min {
  left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
  right: 0;
}
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
}
.loader:before,
.loader:after {
  position: absolute;
  content: '';
}
.loader:before {
  width: 5.2em;
  height: 10.2em;
  background: #eee;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.2em 5.1em;
  transform-origin: 5.2em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s;
}
.loader {
  display: block;
  font-size: 11px;
  margin: 0 auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em #ccc;
}
.loader span {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  line-height: 8.5em;
  z-index: 1;
  font-size: 1.15em;
  font-family: monospace;
}
.loader:after {
  width: 5.2em;
  height: 10.2em;
  background: #eee;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 5.1em;
  -webkit-transform-origin: 0px 5.1em;
  transform-origin: 0px 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease;
}
.loader.fast:before {
  -webkit-animation: load2 0.6s infinite ease 0.45s;
  animation: load2 0.6s infinite ease 0.45s;
}
.loader.fast:after {
  -webkit-animation: load2 0.6s infinite ease;
  animation: load2 0.6s infinite ease;
}
@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
div.lichess_overboard .loader:before,
div.lichess_overboard .loader:after,
div.content_box .loader:before,
div.content_box .loader:after {
  background: #fff;
}
#infscr-loading.loader {
  font-size: 4px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.square-spin {
  display: inline-block;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  width: 1em;
  height: 1em;
  background: #c0c0c0;
  border: 1px solid #aaa;
  -webkit-animation: square-spin 3s 0s cubic-bezier(.09, .57, .49, .9) infinite;
  animation: square-spin 3s 0s cubic-bezier(.09, .57, .49, .9) infinite;
}
@-webkit-keyframes square-spin {
  25% { -webkit-transform: perspective(100px) rotateX(180deg) rotateY(0); }
  50% { -webkit-transform: perspective(100px) rotateX(180deg) rotateY(180deg); }
  75% { -webkit-transform: perspective(100px) rotateX(0) rotateY(180deg); }
  100% { -webkit-transform: perspective(100px) rotateX(0) rotateY(0); }
}

@keyframes square-spin {
  25% { transform: perspective(100px) rotateX(180deg) rotateY(0); }
  50% { transform: perspective(100px) rotateX(180deg) rotateY(180deg); }
  75% { transform: perspective(100px) rotateX(0) rotateY(180deg); }
  100% { transform: perspective(100px) rotateX(0) rotateY(0); }
}
#powerTip,
#hook,
#miniGame {
  width: 224px;
  min-height: 3em;
  cursor: default;
  background-color: #f0f0f0;
  border: 1px solid #c0c0c0;
  display: none;
  position: absolute;
  z-index: 900000;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
}
#powerTip > .title {
  padding: 5px;
  border-bottom: 1px solid #c0c0c0;
}
#powerTip > .title a.user_link {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}
#powerTip span.localization {
  display: block;
  height: 16px;
  margin-top: 5px;
}
#powerTip a.mini_board {
  border-width: 0 0 1px 0;
}
#powerTip .countrylang {
  float: right;
  font-size: 0.9em;
}
#powerTip .ratings {
  text-align: center;
  margin-top: 3px;
}
#powerTip .ratings > span {
  padding: 2px 3px;
  width: 20%;
  text-align: left;
}
#powerTip > .actions {
  width: 100%;
}
#powerTip > .actions a {
  margin: 0;
  border-radius: 0;
  display: block;
  font-size: 0.9em;
  letter-spacing: -1px;
  text-align: center;
  padding: 0 7px;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
  border-width: 0 1px 0 0;
}
#powerTip > .actions a span::before {
  font-size: 1.5em;
}
#powerTip > .actions td:last-child a {
  border-right: 0;
}
#powerTip > .game_legend {
  text-align: center;
  border-bottom: 1px solid #c0c0c0;
  padding: 3px 0;
}
#powerTip > .score {
  font-size: 1.2em;
  text-align: center;
  border-bottom: 1px solid #c0c0c0;
  padding: 3px 0;
}
#powerTip > .info .title {
  display: block;
  padding: 10px 15px;
  border-bottom: 1px solid #c0c0c0;
  text-align: center;
  text-transform: uppercase;
}
#powerTip > .info .content {
  display: block;
  padding: 15px 15px;
}
.clearfix::after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  display: inline-block;
}
.none {
  display: none;
}
html {
  min-height: 100%;
}
body {
  font: 12px'Noto Sans', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, Sans-Serif;
  color: #707070;
  background: #eee;
  background-image: linear-gradient(to bottom, #d7d7d7 0%, #eeeeee 116px);
  overflow-x: hidden;
  cursor: default;
}
body.no-bg {
  background: none!important;
}
body.no-select {
  -moz-user-select: none;
  -webkit-user-select: none;
}
a,
a:visited,
button,
input {
  color: #747474;
}
a,
a:visited,
button,
.button,
.ui-button {
  cursor: pointer;
}
a,
a:hover,
a:visited {
  text-decoration: none;
}
button.a {
  border: none;
  background: none;
}
strong {
  font-weight: bold;
}
.small {
  font-size: 11.5px;
}
#site_header {
  width: 200px;
  float: left;
  position: relative;
}
#site_header a.lang_fallback {
  font-weight: bold;
  display: inline-block;
  margin-right: 1em;
}
body > div.content {
  width: 1005px;
  margin: 35px auto 30px auto;
}
body.fpmenu > div.content {
  display: none;
}
#top {
  position: relative;
  height: 24px;
  width: 1005px;
  margin: 0 auto;
  padding-top: 5px;
  box-sizing: border-box;
  z-index: 5001;
}
#site_description {
  position: absolute;
  top: -100px;
}
#lichess {
  margin-left: 211px;
}
#site_title {
  width: 130px;
  font-size: 30px;
  display: block;
  margin-bottom: 3px;
  color: #555;
  opacity: 0.7;
  transition: opacity 0.13s;
}
#site_title:hover {
  opacity: 1;
}
#site_title span.extension {
  opacity: 0.7;
}
#site_title span.kiddo {
  opacity: 0.7;
  margin-right: 5px;
  font-size: 0.9em;
}
#friend_box .nobody {
  text-align: center;
  display: none;
  padding: 3px 5px;
  height: 100%;
}
#friend_box .nobody span {
  display: block;
  margin: 5px;
}
#friend_box a.find {
  display: none;
  margin: 30px 7px 0 7px;
  font-style: normal;
}
#friend_box div.nobody:hover a.find {
  display: block;
}
.country > img {
  vertical-align: middle;
}
div.content_box {
  border: 1px solid #ccc;
  background: #fff;
  padding: 20px 24px 24px 24px;
  text-align: left;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
}
div.content_box h1 {
  font-size: 1.8em;
  font-weight: normal;
  display: inline;
}
div.content_box.small_box {
  width: 530px;
}
div.content_box.no_padding {
  padding: 0;
}
div.content_box.no_padding h1 {
  display: block;
  padding: 20px 25px;
}
div.content_box .content_box_title {
  padding: 20px 20px 0 20px;
}
div.content_box_top {
  padding: 10px 0 0 20px;
  background-color: #f0f0f0;
  background-image: linear-gradient(to bottom, #fafafa 0%, #f0f0f0 100%);
  text-shadow: 0px 1px 0px #FFF;
}
div.content_box_top .link:hover {
  background: #fff;
}
div.content_box_top h1.lichess_title {
  display: inline;
  padding: 0;
}
div.content_box .content_box_content {
  padding: 20px;
}
div.content_box_inter {
  padding-left: 25px;
  background: #f0f0f0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: block;
  white-space: nowrap;
}
div.content_box_inter .intertab {
  display: inline-block;
  text-align: center;
  line-height: 1.4em;
  margin: 5px 0 -1px 0;
  padding: 0.5em 0.7em;
  text-transform: capitalize;
  border: 1px solid transparent;
  font-family: 'Roboto';
  font-weight: 300;
}
div.content_box_inter.tabs .intertab {
  margin-top: 7px;
  border-bottom: none;
  padding-bottom: 0.8em;
}
div.content_box_inter .intertab strong {
  font-family: 'Noto Sans';
  font-weight: normal;
}
div.content_box_inter a.intertab:hover,
div.content_box_inter a.intertab.active {
  border-color: #ccc;
}
div.content_box_inter a.intertab.active {
  background: #fff;
}
div.content_box .lichess_title {
  font-size: 2em;
  display: block;
  margin-bottom: 0.5em;
}
div.content_box table.datatable {
  width: 100%;
  margin-top: 20px;
}
div.content_box table.datatable td {
  padding: 5px 10px 5px 10px;
}
div.content_box table.datatable tr:nth-child(odd) {
  background: #eee;
}
table.slist {
  width: 100%;
  border-bottom: 1px solid #d4d4d4;
}
table.slist thead th {
  border-top: 1px solid #d4d4d4;
  border-bottom: 1px solid #d4d4d4;
  padding: 0.4em 0.6em;
}
table.slist thead th.large {
  font-size: 1.4em;
}
table.slist td {
  padding: 0.6em;
  font-size: 1.1em;
}
table.slist td .label {
  font-family: monospace;
  font-size: 10px;
}
table.slist tbody tr:nth-child(even) {
  background: #f4f4f4;
}
table.slist td:first-child,
table.slist th:first-child {
  padding-left: 25px;
}
div.side h2 {
  text-align: center;
  font-size: 1.5em;
}
div.side_box {
  margin-top: 12px;
  margin-left: -30px;
  width: 226px;
  box-sizing: border-box;
}
div.side_box,
div.box {
  border: 1px solid #ccc;
}
div.side_box.padded {
  padding: 7px;
}
div.side_box .top,
div.box .top {
  border-bottom: 1px solid #ccc;
  padding: 3px 5px;
  font-weight: bold;
  color: #999;
}
div.side_box .padded {
  padding: 7px;
}
@media (max-width: 1070px) {
  div.side_box,
  #site_header a.stream {
    margin-left: 0px!important;
    width: 196px!important;
  }
}
div.chat_menu {
  margin-left: -30px;
  margin-top: 12px;
  margin-bottom: -12px;
  text-align: center;
  white-space: nowrap;
}
body.kid div.chat_menu,
body.kid #chat {
  display: none;
}
div.chat_menu > a {
  background: #f0f0f0;
  border: 1px solid #c0c0c0;
  height: 20px;
  padding: 3px 8px 0 8px;
  margin: -1px 0 -1px -5px;
  display: inline-block;
}
div.chat_menu > a.active {
  background-color: #eee;
  border-bottom: 1px solid #eee;
}
div.chat_panels {
  height: 325px;
}
.is3d div.chat_panels {
  height: 290px;
}
div.chat_panels > * {
  display: none;
}
div.chat_panels textarea {
  resize: none;
  height: calc(100% + 10px);
  width: calc(100% - 12px);
  padding: 0.5em;
  border: none;
  background-color: transparent;
}
div.chat_panels div.active {
  display: block;
  height: calc(100% - 22px);
}
div.chat_panels .preferences {
  padding: 8px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  overflow-y: auto;
}
div.chat_panels .preferences form > div {
  margin-bottom: 15px;
}
div.chat_panels .preferences label {
  cursor: pointer;
}
div.chat_panels .preferences input {
  vertical-align: middle;
}
div.chat_panels .preferences a.prefs {
  display: block;
  text-align: center;
}
.notification .message_infos,
.notification .game_infos,
div.side_box .game_infos {
  padding-left: 36px;
  position: relative;
}
.notification .message_infos,
.notification .game_infos {
  display: block;
}
div.side_box .game_infos {
  border-bottom: 1px solid #ccc;
  padding-bottom: 8px;
  margin-bottom: 6px;
}
div.side_box .players .player {
  overflow: hidden;
  white-space: nowrap;
}
.notification .message_infos::before,
.notification .game_infos::before,
div.side_box .game_infos::before {
  position: absolute;
  top: 2px;
  left: 0px;
  font-size: 30px;
  opacity: 0.7;
}
div.side_box .game_infos .bookmark {
  position: absolute;
  right: 0px;
  background: radial-gradient(ellipse at center, rgba(238, 238, 238, 1) 0%, rgba(238, 238, 238, 1) 25%, rgba(238, 238, 238, 0) 100%);
  opacity: 0;
  transform: translate(0, -20px);
  -webkit-transform: translate(0, -20px);
  transition: transform 0.3s;
  z-index: 10;
  /* to go over the board */
}
div.side_box .game_infos:hover .bookmark {
  transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  opacity: 1;
}
div.side_box .game_infos .setup {
  display: block;
}
div.side_box div.status {
  text-align: center;
  margin-top: 5px;
}
div.side_box div.user_tv h2 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
div.side div.confrontation {
  text-align: center;
  margin-bottom: 5px;
}
div.side div.confrontation em {
  font-style: italic;
}
div.side div.buttons {
  width: 228px;
  margin-left: -30px;
  margin-top: 2em;
  text-align: center;
}
div.side form.search {
  margin: 1em 0 0 0;
}
div.side form.search input {
  border: 1px solid #ccc;
  padding: 3px 5px;
  width: 186px;
}
#site_header div.side_menu {
  margin-top: 15px;
}
#site_header div.side_menu a {
  padding: 8px 0 8px 8px;
  display: block;
  width: 203px;
}
#site_header div.side_menu a.active {
  background: white;
  border: 1px solid #dadada;
  border-right: none;
}
#site_header div.side_menu .sep {
  margin: 10px;
}
#top .link {
  font-size: 13px;
  height: 24px;
  line-height: 24px;
  padding: 0 8px;
}
#reconnecting {
  display: none;
}
body.offline #reconnecting,
#network_error {
  display: inline-block;
  color: #dc322f;
}
#top .fright {
  float: right;
  position: relative;
}
#top [data-count]::after,
.unread {
  padding: 1px 5px 1px 4px;
  font-weight: bold;
  border-radius: 2px;
  font-size: 0.9em;
}
#top [data-count]::after {
  content: attr(data-count);
  top: 0;
  right: 0;
  position: absolute;
  height: 11px;
  padding: 1px 4px 1px 3px;
  line-height: 10px;
}
#top [data-count='0']::after {
  display: none;
}
#top .shown a.toggle {
  background: #fff;
}
#ham-plate {
  cursor: pointer;
}
#hamburger {
  font-size: 16px;
}
#fpmenu {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 5000;
  width: 100%;
  height: 100%;
  font-size: 14px;
  display: none;
  background: #fff;
}
body.fpmenu #fpmenu {
  display: block;
}
#fpmenu section {
  margin-top: 50px;
}
#fpmenu h2 {
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 24px;
  color: #2a2a2a;
  text-transform: uppercase;
  margin-bottom: 9px;
}
#fpmenu .inner {
  width: 1005px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
#fpmenu .body {
  overflow: hidden;
}
#fpmenu .user,
#fpmenu .anon {
  float: left;
  width: 400px;
  border-right: 1px solid #cfcfcf;
  padding: 0 40px 40px 0;
}
#fpmenu .perf {
  display: inline-block;
  text-align: left;
  width: 49%;
  margin: 18px 0;
  line-height: 1.2em;
}
#fpmenu .perf::before {
  color: #C4A86F;
  font-size: 42px;
  float: left;
  margin-right: 8px;
  opacity: 0.8;
}
#fpmenu .perf h3 {
  margin: 0 0 5px 0;
  color: #d59120;
}
#fpmenu .perf.nope {
  opacity: 0.5;
}
#fpmenu .perf strong {
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 18px;
  color: #2a2a2a;
}
#fpmenu .perf .progress {
  opacity: 0.6;
}
#fpmenu .anon section {
  width: 322px;
}
#fpmenu .anon h2 {
  margin-bottom: 22px;
}
#fpmenu .login input {
  -webkit-appearance: none;
  width: 290px;
  line-height: 47px;
  padding: 0 15px;
  background: #fff;
  border: 1px solid #ebebeb;
  outline: none;
}
#fpmenu .login input.password {
  border-top: none;
}
#fpmenu .login input.submit {
  margin-top: 30px;
  width: 100%;
  background: #d59120;
  border: none;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  opacity: 0.6;
  cursor: pointer;
  transition: opacity 0.13s;
}
#fpmenu .login input.submit:hover {
  opacity: 0.65;
}
#fpmenu .forgot {
  font-size: 0.8em;
  margin-top: 5px;
  text-align: center;
}
#fpmenu .forgot a {
  color: inherit;
  opacity: 0.6;
}
#fpmenu a.signup {
  display: block;
  line-height: 47px;
  padding: 0 15px;
  background: #fff;
  border: 1px solid #d8d8d8;
  color: inherit;
  text-transform: uppercase;
  text-align: center;
  transition: 0.13s;
}
#fpmenu a.signup:hover {
  background: #d59120;
  color: #fff;
}
#fpmenu .menu {
  margin-left: 540px;
  overflow: hidden;
}
#fpmenu .menu section {
  float: left;
  width: 55%;
}
#fpmenu .menu section:nth-child(even) {
  width: 45%;
}
#fpmenu section a {
  color: #d59120;
  display: block;
  padding: 9px 0;
}
#fpmenu section .disabled {
  opacity: 0.5;
  display: block;
  padding: 9px 0;
}
#fpmenu .footer {
  width: 100%;
  padding: 23px 0;
  margin-left: -20px;
  text-align: center;
  font-size: 12px;
  opacity: 0.8;
  transition: opacity 0.3s;
  -webkit-transform: translateZ(0);
}
#fpmenu .footer:hover {
  opacity: 1;
}
#fpmenu .footer a {
  display: inline-block;
  padding: 12px 12px;
  transition: 0.3s;
}
#fpmenu .footer a:hover {
  transform: translateY(-2px);
}
@media (max-width: 970px) {
  #fpmenu {
    position: relative;
  }
  #fpmenu .inner {
    top: 0;
    transform: none;
    -webkit-transform: none;
    width: auto;
  }
  #fpmenu .body {
    padding-left: 13%;
  }
  #fpmenu .user {
    display: none;
  }
  #fpmenu .anon {
    border: none;
    float: none;
    margin: auto;
    padding-bottom: 0;
  }
  #fpmenu .menu {
    margin: auto;
    width: 500px;
  }
}
@media (max-width: 1020px) {
  #top {
    width: calc(100% - 25px);
  }
}
@media (max-width: 520px) {
  #fpmenu .body {
    padding-left: 10px;
  }
}
#topmenu {
  position: absolute;
  top: 0;
  left: -10px;
  font-size: 13px;
}
#topmenu section {
  position: relative;
  float: left;
  margin: 0;
}
#topmenu section > a {
  color: #888;
  display: block;
  padding: 9px 12px;
  text-transform: uppercase;
  text-shadow: 0px 1px 1px #fff;
}
#topmenu section:hover > a {
  background: #fff;
}
#topmenu.hover section:hover div {
  display: block;
}
#topmenu div {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  font-size: 12px;
  background: #fff;
  width: 148px;
  box-shadow: 2px 5px 6px rgba(0, 0, 0, 0.3);
}
#topmenu div a {
  display: block;
  padding: 6px 10px;
  transition: background 0.13s;
}
#topmenu div a:hover {
  background: #f0f0f0;
  color: #444;
}
/* #topmenu div div { */

/*   top: 0; */

/*   left: 100%; */

/* } */

#user_tag {
  font-weight: bold;
}
#top div.message_notifications,
#top div.challenge_notifications,
#top div.auth,
#top #themepicker,
#top div.lichess_language {
  position: relative;
}
#top div.message_notifications.shown .links,
#top div.challenge_notifications.shown .links,
#top div.auth.shown .links {
  display: block;
}
#top div.message_notificatiosn .links > a,
#top div.challenge_notifications .links > a,
#top div.auth .links > a {
  display: block;
  padding: 5px 10px;
  transition: 0.13s;
  white-space: nowrap;
}
#top div.auth .links a:hover {
  background: #F0F0F0;
  color: #444;
}
#top a.signin {
  margin: 3px 0.5em 0 0;
  border-color: #d85000;
  padding: 1px 5px;
}
#top div.auth .sep {
  display: block;
  padding-top: 5px;
  margin-top: 5px;
  border-top: 1px solid #d4d4d4;
}
#top div.auth .status {
  position: relative;
  padding-bottom: 5px;
  min-width: 133px;
}
#top div.auth .status .led {
  position: absolute;
  right: 10px;
  top: 6px;
  font-size: 20px;
  opacity: 0.8;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, 0.4);
}
#top div.auth .status .ping,
#top div.auth .status .server {
  display: block;
  font-family: monospace;
  padding-left: 10px;
}
#top div.auth .status strong {
  padding: 0 5px;
}
#challenge_notifications_tag.none {
  display: none!important;
}
#message_notifications_tag span:before,
#challenge_notifications_tag span:before {
  font-size: 1.45em;
  padding-left: 3px;
}
#top div.message_notifications div.title {
  padding: 5px 0;
  text-align: center;
}
#message_notifications,
#challenge_notifications {
  width: 250px;
  z-index: 2;
  left: -95px;
}
#message_notifications div.notification,
#challenge_notifications div.notification {
  border-bottom: 1px solid #c0c0c0;
  transition: background-color 0.13s;
  position: relative;
}
#message_notifications div.notification:hover,
#challenge_notifications div.notification:hover {
  background-color: #f0f0f0;
}
#notifications {
  position: absolute;
  top: -20px;
  left: -30px;
  width: 228px;
  z-index: 2;
}
#notifications a {
  font-weight: bold;
}
#notifications > div {
  border: 1px solid #c0c0c0;
  padding: 6px 8px 7px 8px;
  margin-bottom: 8px;
  border-radius: 2px;
  box-shadow: 0 0 3px 0px #d85000;
  transition: box-shadow 1.5s;
}
#message_notifications .user_link,
#challenge_notifications .user_link,
#message_notifications .block .title {
  font-weight: bold;
}
#message_notifications_display .content,
#challenge_notifications .setup {
  display: block;
  overflow: hidden;
}
#challenge_notifications .setup {
  text-transform: uppercase;
}
#message_notifications .actions {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.13s;
  margin-top: 5px;
  text-align: right;
}
#message_notifications a.block,
#challenge_notifications div.notification {
  display: block;
  padding: 6px 8px 7px 8px;
}
#message_notifications .actions a {
  font-weight: bold;
  margin-right: 5px;
  margin-left: 10px;
}
#message_notifications .notification:hover .actions {
  opacity: 0.7;
}
#message_notifications .actions a:hover {
  color: #d85000;
}
#challenge_notifications .buttons {
  margin: 1em 0;
  text-align: center;
  opacity: 0.7;
  transition: opacity 0.13s;
}
#challenge_notifications .notification:hover .buttons {
  opacity: 1;
}
#challenge_notifications .buttons form {
  display: inline;
}
#challenge_notifications .buttons .button {
  color: #759900;
  font-size: 1.6em;
  padding: 6px 30px;
}
#challenge_notifications .buttons .decline {
  color: #dc322f;
  margin-left: 1em;
}
form.wide input[type="text"],
form.wide textarea {
  padding: 0.5em;
  border: 1px solid #D4D4D4;
}
#top a.toggle {
  display: block;
  float: left;
}
#top a.toggle,
#top #sound_state {
  transition: color 0.13s;
}
#top a.toggle:hover,
#sound_state:hover {
  color: #303030;
}
#top #themepicker_toggle,
#top #sound_state {
  padding-right: 4px;
}
#top #themepicker_toggle span {
  font-size: 17px;
}
#top #themepicker_toggle span:before {
  vertical-align: -5px;
}
#top .dropdown {
  display: none;
  position: absolute;
  right: 0;
  top: 24px;
  background: #fff;
  z-index: 3;
  box-shadow: 2px 5px 6px rgba(0, 0, 0, 0.3);
}
span.progress > .positive {
  color: #759900;
}
span.progress > .negative {
  color: #ac524f;
}
div.auth input.username,
div.auth input.password {
  border: 1px solid #dadada;
  padding: 2px 3px;
  width: 100px;
  background: #fff;
}
div.auth input.login {
  padding: 0 3px;
}
.language_links {
  width: 620px;
  padding: 10px;
  max-height: 700px;
  overflow: auto;
}
#top div.lichess_language.shown .language_links {
  display: block;
  font-family: 'Noto Sans Exhaustive';
}
.language_links button {
  display: block;
  padding: 0.4em 0.5em;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  transition: background 0.13s;
}
.language_links button.current,
.language_links button.accepted {
  font-weight: bold;
  color: #444;
}
.language_links button:hover,
.language_links button.current {
  background: #F0F0F0;
}
.language_links li {
  width: 25%;
  height: 24px;
  float: left;
  display: block;
  overflow: hidden;
}
.language_links li:last-child {
  width: 50%;
  font-weight: bold;
  padding-top: 10px;
}
#themepicker span.down {
  display: block;
  margin: 3px 0.5em 0 0;
  padding: 1px 5px;
  line-height: normal;
}
#themepicker.shown .dropdown {
  display: block;
  width: 321px;
  text-align: center;
}
body #themepicker div.is2d,
.is3d #themepicker div.is3d {
  display: block;
}
body #themepicker div.is3d,
.is3d #themepicker div.is2d {
  display: none;
}
#themepicker div.board,
#themepicker div.piece_set {
  overflow: hidden;
}
#themepicker div.theme,
#themepicker div.no-square {
  float: left;
  padding: 7px;
  cursor: pointer;
  transition: background 0.13s;
}
.is2d #themepicker div.theme {
  padding: 7px 9px 9px 7px;
}
#themepicker div.theme:hover {
  background: #f0f0f0;
}
.is2d #themepicker div.color_demo {
  width: 64px;
  height: 32px;
  background-size: 256px;
  border: 1px solid #d0d0d0;
  box-sizing: border-box;
  position: relative;
}
.is3d #themepicker div.color_demo {
  width: 66px;
  height: 30px;
  margin-bottom: 4px;
  background-size: 264px;
  border: none;
  position: relative;
}
#themepicker div.piece_set {
  margin-top: 10px;
  background: url(../images/board/darksquares.jpg);
  box-shadow: inset 0 0 20px 3px #777;
}
#themepicker div.no-square:hover {
  background: rgba(250, 250, 250, 0.15);
}
#themepicker .no-square {
  width: 72px;
  height: 72px;
  padding: 8px;
  position: relative;
  margin: 0px -3px -3px -3px;
}
#themepicker .is3d piece {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-size: cover;
  background-position: 0 67%;
}
#themepicker div.toggles {
  display: inline-block;
  margin: 20px 15px 10px 15px;
  text-align: center;
}
#themepicker div.toggles a {
  font-size: 20px;
  display: inline-block;
  margin: 0 -2px 0 -3px;
}
#themepicker a.prefs {
  padding: 10px;
  text-align: center;
  display: block;
}
#themepicker .zoom_control {
  margin-bottom: 5px;
}
#themepicker .zoom_control i {
  font-size: 24px;
  margin-right: 5px;
}
#themepicker .zoom_control .slider {
  margin: auto;
  width: 220px;
  height: 10px;
  display: inline-block;
}
#themepicker .zoom_control .slider .ui-slider-handle {
  margin: 0 0 -9px -3px;
}
#themepicker .zoom_control .slider .ui-widget-header {
  width: 10px;
  bottom: 0;
}
#themepicker input.background_image {
  display: none;
}
#sound_control {
  margin-right: 5px;
  position: relative;
}
#sound_control .dropdown {
  width: 120px;
  padding: 10px;
}
#sound_control.shown .dropdown {
  display: block;
}
#sound_control .slider {
  float: right;
  width: 10px;
  height: 153px;
}
#sound_control .slider .ui-slider-handle {
  margin: 0 0 -9px -3px;
}
#sound_control .slider .ui-widget-header {
  width: 10px;
  bottom: 0;
}
#sound_control .selector {} #sound_control .selector div {
  margin: 5px 0;
}
#sound_control .selector label {
  cursor: pointer;
}
#sound_control .selector input {
  vertical-align: middle;
}
#sound_state span.on,
#sound_state.sound_state_on span.off {
  display: none;
}
#sound_state span.off,
#sound_state.sound_state_on span.on {
  display: block;
}
#sound_state.unavailable {
  display: none;
}
#friend_box {
  position: fixed;
  bottom: 0px;
  right: 0px;
  z-index: 3;
  background: #fff;
  border: 1px solid #ccc;
  border-right: 0;
  min-width: 150px;
}
body.fpmenu #friend_box {
  display: none;
}
#friend_box .title {
  cursor: pointer;
  padding: 3px 5px;
  border-bottom: 1px solid #ccc;
}
#friend_box .content a {
  padding: 3px 5px;
  display: block;
  max-height: 100px;
  overflow-y: auto;
  transition: background 0.13s;
}
#friend_box .content a:hover {
  background: #F0F0F0;
}
#friend_box .nobody {
  text-align: center;
  display: none;
  padding: 3px 5px;
}
#friend_box .nobody span {
  display: block;
  margin: 5px;
}
#friend_box a.find {
  display: none;
  margin: 7px;
  font-style: normal;
}
#friend_box div.nobody:hover a.find {
  display: block;
}
.user_link {
  white-space: nowrap;
}
a.user_link span.rp:before {
  content: " ";
}
a.user_link span.rp.up {
  color: #759900;
}
a.user_link span.rp.down {
  color: #ac524f;
}
.user_link span.title {
  color: #d59120;
  font-weight: bold;
}
.user_link span.donor {
  margin-left: 5px;
}
div.warning {
  padding: 5px;
  background: #f2dede;
  line-height: 16px;
  border: 1px solid #eed3d7;
  color: #894a48;
}
div.join_warning {
  margin: 1em;
}
/* soft inactive gradient */

.crosstable th,
#friend_box .title,
div.side_box div.top,
div.box div.top,
div.undertable_top,
.button,
a.button,
.button:visited,
.ui-state-default,
#translation_call,
#notifications > div,
div.vstext,
div.user_show div.content_box_inter.tabs,
#qa .answers-header,
table.slist thead {
  background: rgb(245, 245, 245);
  background: -moz-linear-gradient(top, rgba(245, 245, 245, 1) 0%, rgba(240, 240, 245, 1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(245, 245, 245, 1)), color-stop(100%, rgba(240, 240, 240, 1)));
  background: -webkit-linear-gradient(top, rgba(245, 245, 245, 1) 0%, rgba(240, 240, 240, 1) 100%);
  background: -ms-linear-gradient(top, rgba(245, 245, 245, 1) 0%, rgba(240, 240, 240, 1) 100%);
  background: linear-gradient(to bottom, rgba(245, 245, 245, 1) 0%, rgba(240, 240, 240, 1) 100%);
  text-shadow: 0px 1px 0px #FFF;
  color: #848484;
}
#chat div.top,
div.undertable_top,
.button,
a.button,
.button:visited,
.ui-state-default,
#translation_call,
table.slist thead {
  font-weight: bold;
}
.button:disabled,
a.button:disabled {
  opacity: 0.5;
}
.button,
a.button {
  padding: 6px 11px;
  white-space: nowrap;
}
.button.thin,
a.button.thin {
  padding: 0 8px;
}
.button,
a.button,
.ui-button,
.ui-slider-handle,
.ui-widget-content {
  border-style: solid;
  border-width: 1px;
  border-color: #e2e2e2;
}
.button,
a.button,
.ui-slider-handle,
.ui-widget-content {
  border-radius: 2px;
}
.button:hover,
a.button:hover,
.ui-state-hover {
  border-color: #e2e2e2;
  background: rgb(248, 248, 248);
  background: -moz-linear-gradient(top, rgba(248, 248, 248, 1) 0%, rgba(243, 243, 243, 1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(248, 248, 248, 1)), color-stop(100%, rgba(243, 243, 243, 1)));
  background: -webkit-linear-gradient(top, rgba(248, 248, 248, 1) 0%, rgba(243, 243, 243, 1) 100%);
  background: -ms-linear-gradient(top, rgba(248, 248, 248, 1) 0%, rgba(243, 243, 243, 1) 100%);
  background: linear-gradient(to bottom, rgba(248, 248, 248, 1) 0%, rgba(243, 243, 243, 1) 100%);
}
.button:active,
a.button:active {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12) inset;
}
/* active gradient */

.button.active,
.button.active:hover,
.ui-state-active,
.ui-widget-header,
div.pagination span.current,
[data-count]::after,
.unread,
div.progressbar.flashy div,
#simul .game_list .host.vstext,
#import_game .progression {
  color: #fff !important;
  text-shadow: 0px 1px 0px #000 !important;
  background: #d85000 !important;
  border-color: #b84400 !important;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.15) inset !important;
}
div.checkmateFen {
  float: left;
  width: 250px;
  margin-left: 110px;
  cursor: pointer;
}
div.checkmateSection {
  float: left;
  font-size: 0.9em;
}
div.checkmateSection label {
  display: block;
  width: 310px;
}
div.checkmateSection div.result {
  display: none;
  height: 48px;
  line-height: 48px;
  vertical-align: middle;
  padding-left: 54px;
  font-weight: bold;
}
div.checkmateSection div.success {
  color: #759900;
}
div.checkmateSection div.failure {
  color: #ac524f;
}
div.checkmateCaptcha.success div.success {
  display: block;
}
div.checkmateCaptcha.failure div.failure {
  display: block;
}
/* gamelist.css */

div.game_row {
  display: block;
  padding: 15px 20px;
  height: 224px;
  border-bottom: 1px solid #eaeaea;
  position: relative;
  cursor: pointer;
  transition: background 0.17s;
}
div.game_row:nth-child(odd) {
  background: #f4f4f4;
}
div.game_row:hover {
  background: rgba(191, 231, 255, 0.5);
}
div.game_row a {
  position: relative;
  z-index: 3;
}
div.game_row a.game_link_overlay {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
div.game_row a.mini_board {
  position: absolute;
  top: 15px;
  left: 10px;
}
div.game_row div.infos {
  position: absolute;
  top: 15px;
  left: 298px;
  width: 476px;
  height: 226px;
}
div.game_row div.infos::before {
  position: absolute;
  top: 0;
  left: -45px;
  font-size: 40px;
  opacity: 0.7;
}
div.game_row div.header strong {
  font-size: 1.4em;
  text-transform: uppercase;
  display: block;
  font-family: 'Roboto';
  font-weight: 300;
}
div.game_row div.versus {
  overflow: hidden;
}
div.game_row div.versus {
  margin: 15px 0 0 -52px;
  width: 528px;
}
div.game_row div.versus > div {
  float: left;
}
div.game_row div.versus .swords {
  width: 60px;
  text-align: center;
  font-size: 30px;
  margin-top: 2px;
  opacity: 0.7;
}
div.game_row div.versus .player {
  font-size: 1.5em;
  width: 234px;
  text-align: right;
}
div.game_row div.versus .player.black {
  text-align: left;
}
div.game_row div.versus a {
  font-weight: bold;
}
div.game_row div.versus span.anon {
  line-height: 2.5em;
}
div.game_row div.result {
  display: block;
  font-size: 1.3em;
  margin: 5px 0 20px -52px;
  width: 528px;
  text-align: center;
}
div.game_row div.opening {
  font-weight: bold;
}
div.game_row span.up {
  color: #759900;
}
div.game_row span.down {
  color: #ac524f;
}
div.game_row div.metadata {
  margin-top: 10px;
}
div.game_list.playing {
  margin-top: 1.4em;
}
div.game_list.playing > div {
  display: inline-block;
  margin: 0px 10.5px 11px 11px;
}
div.vstext {
  width: 212px;
  line-height: 1.2em;
  height: 2.4em;
  overflow: hidden;
  white-space: nowrap;
  padding: 5px;
  border: 1px solid #ccc;
  border-top: 0;
  position: relative;
}
div.vstext > .center {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 4px;
  left: 0;
  font-size: 0.9em;
}
div.vstext .left,
div.vstext .right {
  max-width: 50%;
  text-overflow: ellipsis;
  overflow: hidden;
}
div.vstext .left {
  float: left;
  text-align: left;
}
div.vstext .right {
  float: right;
  text-align: right;
}
div.extra_top {
  float: right;
  margin: 20px 20px 0 0;
}
a.mini_board {
  display: block;
}
.mini_board .cg-board-wrap {
  margin: auto;
  width: 224px;
  height: 224px;
  position: relative;
}
#now_playing {
  margin: 4px 0 0 4px;
}
#now_playing.other_games {
  width: 512px;
}
#now_playing h3 {
  font-size: 1.4em;
}
#now_playing > a {
  float: left;
  padding: 4px;
  text-align: center;
  transition: background 0.13s;
  background: rgba(255, 255, 255, 0.6);
}
#now_playing .move_on {
  font-size: 0.7em;
  float: right;
  display: block;
  height: 1.5em;
  text-align: right;
  line-height: 22px;
}
#now_playing .move_on label {
  cursor: pointer;
}
#now_playing .move_on .switch {
  float: right;
  margin-left: 10px;
}
#now_playing.other_games > a {
  padding: 5px;
}
#now_playing > a:hover {
  background: rgba(191, 231, 255, 0.7);
}
#now_playing .meta {
  display: block;
  text-align: center;
  width: 160px;
  overflow: hidden;
}
#now_playing .indicator {
  color: #d85000;
  margin-top: -3px;
  display: block;
}
#now_playing .mini_board .cg-board-wrap {
  width: 160px;
  height: 160px;
}
/* opening.css */

div.game_config button {
  font-size: 1.4em;
  padding: 0 2em;
}
div.game_config button {
  letter-spacing: 1px;
}
div.lichess_overboard h2 {
  margin-bottom: 1em;
  font-size: 1.4em;
  padding: 0 2em;
}
div.lichess_overboard .target {
  display: inline-block;
  margin-bottom: 2em;
}
div.auth input.username,
div.auth input.password {
  border: 1px solid #dadada;
  padding: 2px 3px;
  width: 100px;
  background: #fff;
}
div.auth input.login {
  padding: 0 3px;
}
div.undertable {
  width: 512px;
  font-size: 11.5px;
  margin-top: 15px;
}
div.undertable.nomargin {
  margin-top: 0;
}
div.undertable_top {
  border: 1px solid #ccc;
  padding: 3px 5px;
}
div.undertable_top a.more {
  float: right;
  padding-right: 2px;
  font-weight: normal;
}
div.undertable_top span.title {
  font-weight: bold;
  color: #999;
}
div.undertable_inner {
  border: 1px solid #ccc;
  border-top: 0;
  height: 202px;
  width: auto;
  overflow: hidden;
  background-color: #fff;
}
div.undertable_inner:hover {
  overflow-y: auto;
}
div.undertable a.user_link {
  font-weight: bold;
  color: #a0a0a0;
}
div.undertable table {
  width: 100%;
  height: 100%;
}
div.undertable td {
  padding: 6px 5px 6px 5px;
  border-top: 1px solid #eaeaea;
}
div.undertable tr:first-child td {
  border-top: none;
}
div.undertable.half {
  width: 250px;
  float: left;
}
div.undertable.half:first-child {
  margin-right: 14px;
}
div.undertable.leaderboard td:first-child {
  max-width: 135px;
  overflow: hidden;
}
div.undertable.leaderboard {
  white-space: nowrap;
}
div.lichess_overboard.joining .submit {
  font-size: 1.2em;
  margin-top: 1em;
  padding: 0.6em 1em;
}
div.lichess_overboard.joining .mini_board {
  margin: 10px auto;
}
.crosstable table {
  width: 100%;
  margin: 1em 0;
}
.crosstable td {
  text-align: center;
  border: 1px solid #eee;
  padding: 0;
  min-width: 15px;
}
.crosstable td a {
  line-height: 2em;
  font-size: 1.1em;
  display: block;
  width: 100%;
  background: #fff;
}
.crosstable tr:first-child td:hover a,
.crosstable tr:first-child td.current a {
  padding-top: 4px;
  margin-top: -6px;
  border-top: 2px solid #808080;
}
.crosstable tr:last-child td:hover a,
.crosstable tr:last-child td.current a {
  padding-bottom: 4px;
  margin-bottom: -6px;
  border-bottom: 2px solid #808080;
}
.crosstable tr td.current a {
  border-color: #d85000!important;
}
body.base .crosstable .win {
  font-weight: bold;
  color: #759900;
}
body.base .crosstable .loss {
  color: #ac524f;
}
.crosstable td:nth-last-child(3) {
  border-right: 1px solid #ccc;
}
.crosstable th {
  border: 1px solid #ccc;
  padding: 3px;
}
.crosstable .score {
  font-size: 1.3em;
  text-align: right;
  padding-right: 7px;
}
.crosstable .user {
  padding-left: 7px;
}
.bookmark {
  float: right;
  outline: none;
}
.bookmark .on,
.bookmark.bookmarked .off {
  display: none;
}
.bookmark .off,
.bookmark.bookmarked .on {
  display: block;
}
div.progressbar {
  background: #e0e0e0;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 1px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12) inset;
}
div.progressbar div {
  background: #d8a050;
  height: 12px;
  border-radius: 4px;
}
div.progressbar.flashy.green div {
  background-color: #759900 !important;
}
.glowed {
  box-shadow: 0 0 5px 1px #e89000, 0 0 10px 1px #d85000;
}
a.hover_text > .base,
a.hover_text:hover > .hover {
  display: inline-block;
}
a.hover_text > .hover,
a.hover_text:hover > .base {
  display: none;
}
input:focus::-webkit-input-placeholder {
  color: transparent;
}
input:focus:-moz-placeholder {
  color: transparent;
}
input:focus::-moz-placeholder {
  color: transparent;
}
input:focus:-ms-input-placeholder {
  color: transparent;
}
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
div.user_actions {
  white-space: nowrap;
}
div.user_actions .button {
  margin: 0 -3px 0 -3px;
}
div.relation_actions a.relation.processing {
  opacity: 0.2
}
input.copyable,
textarea.copyable {
  background: #eee;
  font-family: monospace;
  padding: 3px 5px;
  border: 1px solid #ccc;
}
.flag {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
}
.scroll-shadow-soft {
  background: linear-gradient(#eee 30%, rgba(247, 247, 247, 0)), linear-gradient(rgba(247, 247, 247, 0), #eee 70%) 0 100%, radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)), radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)) 0 100%;
}
.scroll-shadow-hard {
  background: linear-gradient(#fff 30%, rgba(255, 255, 255, 0)), linear-gradient(rgba(255, 255, 255, 0), #fff 70%) 0 100%, radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)), radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)) 0 100%;
}
.scroll-shadow-soft,
.scroll-shadow-hard {
  background-repeat: no-repeat;
  background-size: 100% 20px, 100% 20px, 100% 10px, 100% 10px;
  background-attachment: local, local, scroll, scroll;
}
[data-hint] {
  position: relative;
  display: inline-block;
}
[data-hint]:before,
[data-hint]:after {
  position: absolute;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  visibility: hidden;
  opacity: 0;
  z-index: 900005;
  pointer-events: none;
  transition: 0.2s ease;
  transition-delay: 0ms;
}
[data-hint]:hover:before,
[data-hint]:hover:after {
  visibility: visible;
  opacity: 1;
}
[data-hint]:before {
  content: '';
  position: absolute;
  background: transparent;
  border: 6px solid transparent;
  z-index: 900006;
}
[data-hint]:after {
  content: attr(data-hint);
  background: #404040;
  color: #e0e0e0;
  text-shadow: 0 -1px 0px black;
  padding: 8px 10px;
  line-height: 12px;
  white-space: nowrap;
  border-radius: 2px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
  letter-spacing: normal;
  font-size: 12px;
  font-weight: normal;
  font-style: inherit;
  font-family: 'Noto Sans';
}
.hint--bottom:before,
.hint--bottom-left:before {
  border-bottom-color: #404040;
}
.hint--top:before,
.hint--top-left:before {
  border-top-color: #404040;
}
.hint--bottom:before {
  margin-top: -12px;
}
.hint--bottom:after {
  margin-left: -18px;
}
.hint--bottom:before,
.hint--bottom:after {
  top: 100%;
  left: 50%;
}
.hint--bottom:hover:after,
.hint--bottom:hover:before {
  -webkit-transform: translateY(8px);
  transform: translateY(8px);
}
.hint--top:before {
  margin-bottom: -12px;
}
.hint--top:after {
  margin-left: -18px;
}
.hint--top:before,
.hint--top:after {
  bottom: 100%;
  left: 50%;
}
.hint--top:hover:after,
.hint--top:hover:before {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}
.hint--top-left:before {
  margin-bottom: -12px;
}
.hint--top-left:after {
  margin-right: -6px;
}
.hint--top-left:before,
.hint--top-left:after {
  bottom: 100%;
  right: 30%;
}
.hint--top-left:hover:after,
.hint--top-left:hover:before {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}
.hint--bottom-left:before {
  margin-top: -12px;
}
.hint--bottom-left:after {
  margin-right: -6px;
}
.hint--bottom-left:before,
.hint--bottom-left:after {
  top: 100%;
  right: 30%;
}
.hint--bottom-left:hover:after,
.hint--bottom-left:hover:before {
  -webkit-transform: translateY(8px);
  transform: translateY(8px);
}
.hint--left:before {
  margin-right: -12px;
  margin-top: -6px;
}
.hint--left:after {
  margin-right: -14px;
}
.hint--left:before,
.hint--left:after {
  right: 100%;
  bottom: 50%;
}
.hint--left:hover:after,
.hint--left:hover:before {
  -webkit-transform: translateX(-8px);
  transform: translateX(-8px);
}
.continue_with {
  display: none;
}
.continue_with .button {
  display: inline-block;
  margin: 1em;
}
#modal-overlay {
  display: block;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
  cursor: pointer;
}
#modal-wrap {
  display: inline-block;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 3px;
  box-shadow: 0 0 95px 25px rgba(0, 0, 0, 0.8);
  background: #fff;
  text-align: center;
  cursor: default;
}
#konami {
  display: none;
  background: url(../images/easter.png);
  position: fixed;
  bottom: 0;
  right: 0;
  width: 300px;
  height: 295px;
  z-index: 9999;
}
.fire_trophy span {
  transform: scale(0.35);
  -webkit-transform: scale(0.35);
  color: rgba(0, 0, 0, 0.6);
  font-size: 150px;
  display: block;
  text-shadow: 0 0 20px #fefcc9, 10px -10px 30px #feec85, -20px -20px 40px #ffae34, 20px -40px 50px #ec760c, -20px -60px 60px #cd4606, 0 -80px 70px #973716, 10px -90px 80px #451b0e;
}
.fire_trophy.marathonWinner span,
.fire_trophy.marathonTopTen span,
.fire_trophy.marathonTopFifty span {
  filter: hue-rotate(190deg);
  -webkit-filter: hue-rotate(190deg);
}
.fire_trophy span:hover {
  animation: fire 1.25s ease-in-out infinite alternate;
  -moz-animation: fire 1.25s ease-in-out infinite alternate;
  -webkit-animation: fire 1.25s ease-in-out infinite alternate;
  -o-animation: fire 1.25s ease-in-out infinite alternate;
}
@keyframes fire {
  0% {
    text-shadow: 0 0 20px #fefcc9, 10px -10px 30px #feec85, -20px -20px 40px #ffae34, 20px -40px 50px #ec760c, -20px -60px 60px #cd4606, 0 -80px 70px #973716, 10px -90px 80px #451b0e;
  }
  100% {
    text-shadow: 0 0 20px #fefcc9, 10px -10px 30px #fefcc9, -20px -20px 40px #feec85, 22px -42px 60px #ffae34, -22px -58px 50px #ec760c, 0 -82px 80px #cd4606, 10px -90px 80px #973716;
  }
}
@-webkit-keyframes fire {
  0% {
    text-shadow: 0 0 20px #fefcc9, 10px -10px 30px #feec85, -20px -20px 40px #ffae34, 20px -40px 50px #ec760c, -20px -60px 60px #cd4606, 0 -80px 70px #973716, 10px -90px 80px #451b0e;
  }
  100% {
    text-shadow: 0 0 20px #fefcc9, 10px -10px 30px #fefcc9, -20px -20px 40px #feec85, 22px -42px 60px #ffae34, -22px -58px 50px #ec760c, 0 -82px 80px #cd4606, 10px -90px 80px #973716;
  }
}
/* switch toggle button */
.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}
input.cmn-toggle-round + label {
  padding: 1px;
  width: 40px;
  height: 20px;
  background-color: #aaa;
  border-radius: 20px;
}
input.cmn-toggle-round + label:before,
input.cmn-toggle-round + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}
input.cmn-toggle-round + label:before {
  right: 1px;
  background-color: #ddd;
  border-radius: 20px;
  transition: background 0.2s;
}
input.cmn-toggle-round + label:after {
  width: 20px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 1px 2.5px rgba(0, 0, 0, 0.3);
  transition: margin 0.2s;
}
input.cmn-toggle-round:checked + label:before {
  background-color: #8ce196;
}
input.cmn-toggle-round:checked + label:after {
  margin-left: 20px;
}
body ::-webkit-scrollbar,
body ::-webkit-scrollbar-corner {
  background: #eee;
}
body ::-webkit-scrollbar-thumb {
  background: rgba(204, 204, 204, 0.7);
}
body ::-webkit-scrollbar-thumb:hover {
  background: rgba(50, 50, 50, 0.2);
}
body ::-webkit-scrollbar-thumb:active {
  background: rgba(50, 50, 50, 0.3);
}
body ::-webkit-scrollbar-track {
  box-shadow: 0 0 6px rgba(50, 50, 50, 0.3) inset;
}
