body.dark {
  background-color: #1a1a1a;
  background-image: linear-gradient(to bottom, #2c2c2c 0%, #1a1a1a 116px);
  color: #8c8c8c;
}
body.dark a,
body.dark a:visited,
body.dark #powerTip > .actions a,
body.dark .button {
  color: #8a8a8a;
}
body.dark #video .content_box_top form input,
body.dark input,
body.dark textarea,
body.dark div.analysis_menu > a.active,
body.dark div.chat_menu > a {
  background: #1a1a1a;
  color: #8a8a8a;
}
body.dark div.analysis_menu > a.active {
  border-top-color: #1a1a1a;
}
body.dark div.chat_menu > a.active {
  border-bottom-color: #262626;
}
body.dark .crosstable td {
  border-color: #1a1a1a;
}
body.dark #video_side .tag_list a.full:hover {
  background: #222;
  border-color: #444;
}
body.dark #video .tag_list a {
  background: #363636;
  color: #9a9a9a;
}
body.dark #video .tag_list a:hover {
  background: #3a3a3a;
  color: #a0a0a0;
}
body.dark #video .card .duration {
  background: rgba(0,0,0,0.7);
}
body.dark #site_title {
  color: #acacac;
}
body.dark .mini_board,
body.dark #chat div.top,
body.dark #chat .messages,
body.dark div.undertable_top,
body.dark div.undertable_inner,
body.dark div.undertable td,
body.dark #chat form input,
body.dark #translation_call,
body.dark div.game_config .optional_config,
body.dark div.game_config .ratings,
body.dark .ui-state-default,
body.dark .ui-widget-content,
body.dark div.side_box,
body.dark div.side_box .top,
body.dark div.box,
body.dark div.box .top,
body.dark div.table,
body.dark div.separator,
body.dark div.table_wrap > div.clock > div.time,
body.dark #tournament_schedule .schedule,
body.dark #tournament_side,
body.dark #tournament_side .player .stats,
body.dark #tournament_side .player tr > *,
body.dark #tournament_side .player tr:hover th,
body.dark .lichess_ground .ceval_box,
body.dark div.shortcuts .title,
body.dark div.content_box,
body.dark div.content_box_inter,
body.dark div.content_box_inter a.active,
body.dark div.content_box_inter a:hover,
body.dark input.copyable,
body.dark textarea.copyable,
body.dark #site_header div.side_menu a.active,
body.dark div.game_row,
body.dark div.side form.search input,
body.dark #lichess_forum div.post,
body.dark #lichess_message tr,
body.dark #lichess_message div.thread_message,
body.dark #lichess_message textarea,
body.dark #lichess_message input,
body.dark .content_box form input,
body.dark div.progressbar,
body.dark form.translation_form div.messages,
body.dark form.translation_form input,
body.dark #adv_chart,
body.dark div.search_status,
body.dark #qa input,
body.dark #qa textarea,
body.dark #qa .answers-header,
body.dark #qa .question .comments,
body.dark #qa .comments .comment,
body.dark #qa .answer-wrap,
body.dark #qa .tm-tag,
body.dark table.slist,
body.dark table.slist thead th,
body.dark #notifications > div,
body.dark form.wide input[type="text"],
body.dark form.wide textarea,
body.dark #team .team-left,
body.dark #team .team-right,
body.dark #team h2,
body.dark #team.team_show div.content_box_top,
body.dark .leaderboard_title,
body.dark #friend_box,
body.dark #friend_box .title,
body.dark div.user_show div.user-infos,
body.dark div.game_config input[type="text"],
body.dark #powerTip,
body.dark #miniGame,
body.dark #powerTip > .title,
body.dark #powerTip > .score,
body.dark #powerTip > .game_legend,
body.dark #hooks_wrap .table_wrap th,
body.dark #hooks_wrap .table_wrap td,
body.dark #hooks_wrap,
body.dark #hooks_wrap div.tabs a,
body.dark #hooks_wrap .hooks_chart > div.grid,
body.dark #tournament_schedule .timeheader,
body.dark div.vstext,
body.dark div.user_show div.content_box_inter.tabs,
body.dark #enterable_tournaments table.scheduled,
body.dark div.user_show .mod_zone .listings,
body.dark div.user_show .mod_zone .slist,
body.dark div.user_show .note_zone,
body.dark div.user_show .note_zone div,
body.dark div.analysis_menu,
body.dark div.analysis_menu > a,
body.dark .lichess_ground .replay,
body.dark .lichess_ground .analyse .meta,
body.dark div.content_box.prefs form li,
body.dark div.content_box.prefs fieldset,
body.dark #claim_draw_zone,
body.dark .is2d #themepicker div.color_demo,
body.dark .crosstable th,
body.dark #lichess_blog .list h1,
body.dark #lichess_blog .body h2,
body.dark #lichess_blog .body img,
body.dark #top div.auth .sep,
body.dark div.doc_box h2,
body.dark div.training div.box,
body.dark div.force_resign_zone,
body.dark div.negotiation,
body.dark div.side_box div.game_infos,
body.dark #challenge_notifications div.notification,
body.dark #message_notifications div.notification,
body.dark #video .content_box_top,
body.dark #simul .half,
body.dark div.chat_menu > a {
  border-color: #3d3d3d;
}
body.dark .crosstable td:nth-last-child(3) {
  border-right-color: #3d3d3d;
}
body.dark #modal-wrap {
  background-color: #303030;
}
body.dark #opening .meter ul,
body.dark #opening .meter li.dubious .step,
body.dark .ui-slider,
body.dark div.progressbar,
body.dark #translation_call div.progressbar,
body.dark #themepicker div.theme:hover {
  background-color: #505050;
}
body.dark #opening .meter .step {
  border-color: #505050;
}

body.dark #opening .meter .step,
body.dark #hooks_wrap div.tabs a,
body.dark #top div.auth .links a:hover,
body.dark #top .language_links button:hover,
body.dark #challenge_notifications > div.notification:hover,
body.dark #message_notifications div.notification:hover {
  background-color: #3e3e3e;
  color: #b0b0b0;
}
body.dark #top a.toggle:hover,
body.dark #top #sound_state:hover {
  color: #c0c0c0;
}
body.dark div.user_show .trophy.icon3d,
body.dark #timeline a,
body.dark #chat span,
body.dark #chat a.user_link,
body.dark div.undertable a.user_link,
body.dark #team .forum a.user_link,
body.dark div.user_show div.content_box_top > span,
body.dark span.progress > .zero,
body.dark div.undertable_top span.title {
  color: #777;
}
body.dark .crosstable td a,
body.dark #promotion_choice {
  background: rgba(0, 0, 0, 0.7);
}
body.dark #chat .messages,
body.dark div.side_box,
body.dark div.box,
body.dark div.table,
body.dark div.table_wrap > div.clock > div.time,
body.dark #friend_box .content a:hover,
body.dark div.undertable_inner,
body.dark div.table .loader:before,
body.dark div.table .loader:after,
body.dark div.chat_menu > a.active {
  background: #262626;
}
body.dark #hooks_wrap .table_wrap td,
body.dark #now_playing > a {
  background: rgba(40, 40, 40, 0.6);
  border-color: #242424;
}
body.dark #hooks_wrap .table_wrap tr.cancel td {
  background: rgba(0, 80, 0, 0.7);
}
body.dark #hooks_wrap .table_wrap tr.join:hover td,
body.dark #now_playing > a:hover,
body.dark .lichess_ground .replay move.current,
body.dark #tournament table.standing:not(.created) tbody tr:hover {
  background: rgba(27, 51, 68, 0.7);
}
body.dark #top a.signin,
body.dark #hooks_wrap .hook_filter .checkable {
  color: #c0c0c0;
}
body.dark #hooks_wrap,
body.dark #hooks_wrap div.tabs a:hover,
body.dark #hooks_wrap div.tabs a.active,
body.dark .forecast .entry:hover,
body.dark #tournament_schedule {
  background-color: #303030;
}
body.dark #hooks_wrap div.tabs a:hover {
  border-top-color: #808080;
}
body.dark #hooks_wrap div.tabs a.active {
  border-bottom-color: #303030;
  border-top-color: #d85000;
}
body.dark div.table_not_started {
  box-shadow: none;
  background: none;
}
body.dark .lichess_ground .replay index,
body.dark .lichess_ground .ceval_box pearl,
body.dark .lichess_ground .analyse .meta,
body.dark .lichess_ground .replay move:not(.empty):hover,
body.dark #top .dropdown,
body.dark #top .shown a.toggle,
body.dark div.analysis_menu > a,
body.dark div.lichess_overboard,
body.dark div.content_box,
body.dark div.content_box_inter a.active,
body.dark #site_header div.side_menu a.active,
body.dark #tournament_side,
body.dark table.translations tbody tr,
body.dark form.translation_form div.message,
body.dark #lichess_forum table.forum_table thead tr:nth-child(odd),
body.dark #video_side .tag_list a.checked,
body.dark div.lichess_overboard .loader:before,
body.dark div.lichess_overboard .loader:after,
body.dark div.content_box .loader:before,
body.dark div.content_box .loader:after {
  background-color: #2b2b2b;
}
body.dark #video .card .info,
body.dark #video .card .reveal,
body.dark #timeline,
body.dark #timeline .entry {
  border-color: #2b2b2b;
}
body.dark #site_header div.side_menu a.active,
body.dark #hooks_wrap .table_wrap,
body.dark div.content_box h1 {
  text-shadow: 0px 1px 0px #000;
}
body.dark div.game_row:nth-child(odd),
body.dark #lichess_forum table.forum_table tr:nth-child(odd),
body.dark #lichess_message tr:nth-child(even),
body.dark div.content_box_inter,
body.dark table.slist tbody tr:nth-child(even),
body.dark #team .forum li:nth-child(odd),
body.dark table.translations tbody tr:nth-child(odd),
body.dark form.translation_form div.message:nth-child(even),
body.dark div.content_box table.datatable tr:nth-child(odd),
body.dark div.game_config .optional_config,
body.dark div.game_config .ratings,
body.dark div.search_status,
body.dark #tournament_side .player h2,
body.dark #tournament_side .player .stats,
body.dark #tournament_side .pairings tr:hover,
body.dark #friend_box,
body.dark #powerTip,
body.dark #miniGame {
  background: #343434;
}
body.dark #top .language_links button.accepted,
body.dark #lichess_forum div.post .message,
body.dark #lichess_blog,
body.dark #lichess_message div.thread_message div.thread_message_body,
body.dark form.translation_form div.message label,
body.dark div.user_show div.content_box_top > span strong {
  color: #b0b0b0;
}
body.dark div.table_wrap > div.clock.running > div.time {
  background: #505a60;
  color: #fff;
}
body.dark .forecast .entry .del,
body.dark div.table_wrap > div.clock.running.emerg > div.time,
body.dark div.table_wrap > div.clock.outoftime > div.time {
  background-color: #a00000;
  color: #d0d0d0;
}
body.dark div.content_box,
body.dark #powerTip,
body.dark #miniGame {
  box-shadow: 0 1px 2px #000;
}
body.dark div.content_box_top {
  background-color: #343434;
  background-image: linear-gradient(to bottom, #3a3a3a 0%, #343434 100%);
  text-shadow: 0px 1px 0px #000;
}
/* soft inactive gradient */

body.dark .crosstable th,
body.dark #chat div.top,
body.dark div.side_box .top,
body.dark div.box .top,
body.dark #friend_box .title,
body.dark div.undertable_top,
body.dark .button,
body.dark .button:visited,
body.dark .ui-state-default,
body.dark #translation_call,
body.dark #notifications > div,
body.dark div.vstext,
body.dark div.user_show div.content_box_inter.tabs,
body.dark #qa .answers-header,
body.dark #video .card .info,
body.dark #video .card .reveal,
body.dark table.slist thead {
  background: rgb(40, 40, 40);
  background: linear-gradient(to bottom, rgba(40, 40, 40, 1) 0%, rgba(34, 34, 34, 1) 100%);
  text-shadow: 0px 1px 0px #000;
}
body.dark .button,
body.dark a.button,
body.dark .ui-button,
body.dark .ui-slider-handle,
body.dark .ui-widget-content,
body.dark .lichess_ground .replay .moves {
  border-color: #323232;
}
body.dark .button:hover,
body.dark a.button:hover,
body.dark .ui-state-hover {
  border-color: #383838;
  background: rgb(44, 44, 44);
  background: -moz-linear-gradient(top, rgba(44, 44, 44, 1) 0%, rgba(40, 40, 40, 1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(44, 44, 44, 1)), color-stop(100%, rgba(40, 40, 40, 1)));
  background: -webkit-linear-gradient(top, rgba(44, 44, 44, 1) 0%, rgba(40, 40, 40, 1) 100%);
  background: -ms-linear-gradient(top, rgba(44, 44, 44, 1) 0%, rgba(40, 40, 40, 1) 100%);
  background: linear-gradient(to bottom, rgba(44, 44, 44, 1) 0%, rgba(40, 40, 40, 1) 100%);
}
body.dark #hooks_wrap .hooks_chart .plot {
  color: #aaa;
  text-shadow: 0px 0px 3px #000;
}
body.dark #hooks_wrap .hooks_chart > span.label {
  text-shadow: 0 0 3px #000;
}
body.dark .loader {
  box-shadow: inset 0 0 0 1em #444;
}
body.dark .loader:before,
body.dark .loader:after {
  background: #1a1a1a;
}
body.dark div.training > .side div.fail,
body.dark div.training > .side div.loss {
  color: #e97472;
  background: #582b33;
}
body.dark div.training > .side div.retry {
  color: #8482c9;
  background: #101034;
}
body.dark div.training > .side div.great,
body.dark div.training > .side div.win,
body.dark #puzzle > .right .please_vote {
  background: #103410;
  color: #74a962;
}
body.dark #top .dropdown {
  border: 1px solid #3d3d3d;
  border-top: 0;
  right: -1px;
}
body.pirouetti.dark div.cemetery piece.black {
  -webkit-filter: brightness(2) contrast(150%) drop-shadow(0 0 0.5px #fff);
}
body.alpha.dark div.cemetery piece.black {
  -webkit-filter: brightness(6) contrast(150%) drop-shadow(0 0 0.5px #fff);
}
body.dark .scroll-shadow-soft,
body.dark .scroll-shadow-hard {
  background: linear-gradient(#262626 30%, rgba(36, 36, 36, 0)), linear-gradient(rgba(36, 36, 36, 0), #262626 70%) 0 100%, radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, .7), rgba(0, 0, 0, 0)), radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, .7), rgba(0, 0, 0, 0)) 0 100%;
}
body.dark .scroll-shadow-soft,
body.dark .scroll-shadow-hard {
  background-repeat: no-repeat;
  background-size: 100% 20px, 100% 20px, 100% 10px, 100% 10px;
  background-attachment: local, local, scroll, scroll;
}
body.dark div.user_show div.user-infos.scroll-shadow-hard {
  background: linear-gradient(#2b2b2b 30%, rgba(43, 43, 43, 0)), linear-gradient(rgba(43, 43, 43, 0), #2b2b2b 70%) 0 100%, radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, .7), rgba(0, 0, 0, 0)), radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, .7), rgba(0, 0, 0, 0)) 0 100%;
  background-repeat: no-repeat;
  background-size: 100% 20px, 100% 20px, 100% 10px, 100% 10px;
  background-attachment: local, local, scroll, scroll;
}
body.dark div.side_box div.game_infos .bookmark {
  background: radial-gradient(ellipse at center, rgba(38, 38, 38, 1) 0%, rgba(38, 38, 38, 1) 25%, rgba(38, 38, 38, 0) 100%);
}
body.dark div.game_row:hover {
  background: rgba(27, 51, 68, 0.5)!important;
}
body.dark .is.color-icon.white::before {
  content: 'J';
}
body.dark .is.color-icon.black::before {
  content: 'K';
}
body.dark::-webkit-input-placeholder {
  color: #666!important;
}
body.dark::-moz-placeholder {
  color: #666!important;
}
body.dark:-ms-input-placeholder {
  color: #666!important;
}
body.dark #lobby_playban,
body.dark #lobby_current_game {
  background: rgba(0,0,0,0.7);
}
body.dark #fpmenu {
  background: #1c2328;
  color: #aeaeae;
}
body.dark #fpmenu h2 {
  color: #aeaeae;
}
body.dark #fpmenu .login input {
  background-color: #1c2328;
  border-color: #404040;
}
body.dark #fpmenu .login input.submit {
  background: #d59120;
}
body.dark #fpmenu .user,
body.dark #fpmenu .anon {
  border-color: #444;
}
body.dark #fpmenu a.signup {
  background: #1c2328;
  border: 1px solid #555;
  color: inherit;
}
body.dark #fpmenu a.signup:hover {
  background: #d59120;
  color: #fff;
}
body.dark #fpmenu .perf strong {
  color: #aeaeae;
}
body.dark #fpmenu .perf::before {
  color: #8b6523;
}
body.dark #topmenu section > a {
  color: #777;
  text-shadow: 0px 1px 1px #000;
}
body.dark #topmenu section:hover > a {
  background: #2b2b2b;
}
body.dark #topmenu div {
  background: #2b2b2b;
  border: 1px solid #3d3d3d;
  border-top: 0;
  box-shadow: 2px 5px 6px rgba(0, 0, 0, 0.3);
}
body.dark #topmenu div a:hover {
  background: #3e3e3e;
  color: #b0b0b0;
}
body.dark .variant_icons span {
  text-shadow: 0px 0px 5px #000,
  0px 0px 10px #000,
  0px 0px 20px #000;
}
body.dark #tv_channels > a:hover {
  background: #333;
  color: #c0c0c0;
  box-shadow: 0 -1px 1px rgba(255,255,255,0.3);
}
body.dark div.user_show .trophy.donor span:hover {
  color: rgba(255,255,255,0.7);
}
body.dark .fire_trophy.wayOfBerserk span {
  color: rgba(255,255,255,0.5);
}
body.dark ol.scheduled_tournaments li.marathon {
  background: #2a2a2a;
  box-shadow: 0 0 9px rgba(0,0,0,0.9);
}
body.dark div.eval_gauge  {
  background: #a0a0a0;
}
body.dark div.eval_gauge .black {
  background: #666;
}
body.dark div.eval_gauge tick {
  border-color: #a0a0a0;
}
body.dark .square-spin {
  background: #666;
  border-color: #aaa;
}
body.dark input.cmn-toggle-round + label {
  background-color: #888;
}
body.dark input.cmn-toggle-round + label:before {
  background-color: #555;
}
body.dark input.cmn-toggle-round + label:after {
  background-color: #aaa;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
}
body.dark input.cmn-toggle-round:checked + label:before {
  background-color: #75aa00;
}
body.dark ::-webkit-scrollbar,
body.dark ::-webkit-scrollbar-corner {
  background: #262626;
}
body.dark ::-webkit-scrollbar-thumb {
  background: rgba(200, 200, 200, 0.15);
}
body.dark ::-webkit-scrollbar-thumb:hover {
  background: rgba(200, 200, 200, 0.3);
}
body.dark ::-webkit-scrollbar-thumb:active {
  background: rgba(200, 200, 200, 0.4);
}
