@(u: User, email: Option[String], spy: lila.security.UserSpy, optionAggregateAssessment: Option[lila.evaluation.PlayerAggregateAssessment.WithGames], bans: Map[String, Int])(implicit ctx: Context)

@import lila.evaluation.Display

<div class="actions clearfix">
  @if(isGranted(_.MarkTroll)) {
  <a class="button hint--bottom" href="@routes.Mod.communication(u.id)" data-hint="View communications">Coms</a>
  }
  @if(isGranted(_.UserEvaluate)) {
  <form method="post" action="@routes.Mod.refreshUserAssess(u.username)" data-hint="Collect data and analyze if the user is suspicious." class="hint--bottom">
    <input class="button" type="submit" value="Evaluate" />
  </form>
  •
  }
  @if(isGranted(_.MarkEngine)) {
  <form method="post" action="@routes.Mod.engine(u.username)" data-hint="This user is clearly cheating." class="hint--bottom">
    <input class="button@when(u.engine, " active")" type="submit" value="Engine" />
  </form>
  }
  @if(isGranted(_.MarkBooster)) {
  <form method="post" action="@routes.Mod.booster(u.username)" data-hint="Marks the user as a booster or sandbagger." class="hint--bottom">
    <input class="button@when(u.booster, " active")" type="submit" value="Booster" />
  </form>
  }
  @if(isGranted(_.MarkTroll)) {
  <form method="post" action="@routes.Mod.troll(u.username)?set=@(if (u.troll){0}else{1})" data-hint="@if(u.troll){Allows}else{Blocks} the user with communication features." class="hint--bottom">
    <input class="button@when(u.troll, " active")" type="submit" value="Troll" />
  </form>
  }
  @if(isGranted(_.IpBan)) {
  <form method="post" action="@routes.Mod.ban(u.username)" data-hint="Bans all IPs under this account from accessing this site." class="hint--bottom-left">
    <input class="button@when(u.ipBan, " active")" type="submit" value="IP ban" />
  </form>
  }
  @if(!u.disabled) {
  @if(isGranted(_.CloseAccount)) {
  <form method="post" action="@routes.Mod.closeAccount(u.username)" data-hint="Disables this account." class="hint--bottom-left">
    <input class="button" type="submit" value="Close" />
  </form>
  }
  } else {
  @if(isGranted(_.ReopenAccount)) {
  <form method="post" action="@routes.Mod.reopenAccount(u.username)" data-hint="Re-activates this account." class="hint--bottom-left">
    <input type="submit" class="button active" value="Closed" />
  </form>
  }
  }
  @if(isGranted(_.SetTitle)) {
  <br />
  <br />
  <form class="fide_title" method="post" action="@routes.Mod.setTitle(u.username)">
    @base.select(lila.user.DataForm.title.fill(u.title)("title"), lila.user.User.titles, "No title".some)
  </form>
  }
  @if(isGranted(_.SetEmail) && !isGranted(_.SetEmail, u)) {
  <form class="email" method="post" action="@routes.Mod.setEmail(u.username)">
    <input type="email" value="@email" name="email" placeholder="Email address" />
  </form>
  }
</div>

<div class="user_spy">
  @optionAggregateAssessment.fold{
  <div class="evaluation">
    <p>
      No assessment available
      <br />
      <br />
    </p>
  </div>
  }{ pag =>
  <div class="evaluation results">
    <table class="reportCard">
      <thead>
        <tr>
          <th>
            <span class="result_@pag.pag.action.id">@pag.pag.action.description</span>
          </th>
          <th>
            @pag.pag.playerAssessments.size
          </th>
          <th>
            @pag.pag.cheatingSum
          </th>
          <th>
            @pag.pag.likelyCheatingSum
          </th>
          <th>
            @pag.pag.relatedCheatersCount
          </th>
          <th>
            @pag.pag.relatedUsersCount
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            Assessment
          </td>
          <td>
            Games Assessed
          </td>
          <td>
            Cheating Games
          </td>
          <td>
            Likely Cheating Games
          </td>
          <td>
            Related Cheaters
          </td>
          <td>
            Related Users
          </td>
        </tr>
      </tbody>
    </table>
    <table class="extra_stats">
      <caption>Average Centipawn Loss Given:</caption>
      <tr>
        <th data-hint="The frequency of which the user leaves the game page." class="hint--top">Blurs</th>
        <td>
          <strong>@pag.pag.sfAvgBlurs</strong>
          <br/>high
        </td>
        <td>
          <strong>@pag.pag.sfAvgNoBlurs</strong>
          <br/>low
        </td>
      </tr>
      <tr>
        <th data-hint="The computed standard deviation of the move times distribution across games." class="hint--top">Move Times</th>
        <td>
          <strong>@pag.pag.sfAvgLowVar</strong>
          <br/>low variance
        </td>
        <td>
          <strong>@pag.pag.sfAvgHighVar</strong>
          <br/>high variance
        </td>
      </tr>
      <tr>
        <th data-hint="Bot detection using grid click analysis." class="hint--top">Hold Alert</th>
        <td>
          <strong>@pag.pag.sfAvgHold</strong>
          <br/>alert
        </td>
        <td>
          <strong>@pag.pag.sfAvgNoHold</strong>
          <br/>no alert
        </td>
      </tr>
    </table>
    <table class="slist">
      <thead>
        <tr>
          <th>Opponent</th>
          <th>Game</th>
          <th>
            Centi-Pawn
            <br />(Avg ± SD)
          </th>
          <th>
            Move Times
            <br />(Avg ± SD)
          </th>
          <th><span data-hint="The frequency of which the user leaves the game page." class="hint--top-left">Blurs</span></th>
          <th><span data-hint="Bot detection using grid click analysis." class="hint--top-left">Bot</span></th>
          <th><span class="hint--top-left" data-hint="Aggregate match">&Sigma;</span></th>
        </tr>
      </thead>
      <tbody>
        @pag.pag.playerAssessments.sortBy(-_.assessment.id).take(15).map { result =>
        <tr>
          <td>
            <a href="@routes.Round.watcher(result.gameId, result.color.name)">
              @pag.pov(result).fold{
              @result.gameId
              } { p =>
              @playerLink(p.opponent, withRating = true, withDiff = true, withOnline = false, link = false)
              }
            </a>
          </td>
          <td>
            @pag.pov(result).map { p =>
            <a href="@routes.Round.watcher(p.gameId, p.color.name)">
              @if(p.game.isTournament) {
              <span data-icon="g"></span>
              }
              @p.game.perfType.map { pt =>
              <span data-icon="@pt.iconChar"></span>
              }
              @shortClockName(p.game.clock)
            </a>
            }
          </td>
          <td>
            <span class="sig sig_@(Display.stockfishSig(result))" data-icon="J"></span>
            @result.sfAvg ± @result.sfSd
          </td>
          <td>
            <span class="sig sig_@(Display.moveTimeSig(result))" data-icon="J"></span>
            @(result.mtAvg/10) ± @(result.mtSd/10)
          </td>
          <td>
            <span class="sig sig_@(Display.blurSig(result))" data-icon="J"></span>
            @(result.blurs)%
          </td>
          <td>
            <span class="sig sig_@(Display.holdSig(result))" data-icon="J"></span>
            @if(result.hold){Yes} else {No}
          </td>
          <td>
            <div class="aggregate hint--top-left">
              <span class="sig sig_@(result.assessment.id)">@result.assessment.emoticon</span>
            </div>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  }
  @if(spy.otherUsers.size < 1) {
  <strong>No similar user found</strong>
  } else {
  <table class="others slist">
    <thead>
      <tr>
        <th>@spy.otherUsers.size similar user(s)</th>
        <th>Same</th>
        <th>Games</th>
        <th>Marks</th>
        <th>IPban</th>
        <th>Closed</th>
        <th>Created</th>
      </tr>
    </thead>
    <tbody>
      @spy.otherUsers.map {
      case lila.security.UserSpy.OtherUser(o, byIp, byFp) => {
      <tr @if(o == u){class="same"}>
        <td>@userLink(o, withBestRating = true, params = "?mod")</td>
        <td>
          @if(o == u) { - } else {
          @List(byIp option "IP", byFp option "Print").flatten.mkString(", ")
          }
        </td>
        <td>@o.count.game.localize</td>
        <td>
          @if(o.engine){ENGINE}
          @if(o.booster){BOOSTER}
          @if(o.troll){TROLL}
          @bans.get(o.id).map { nb =>
          <span class="hint--top-left" data-hint="Temporarily banned from playing for aborting or not playing games.">
            PLAYBAN(@nb)
          </span>
          }
        </td>
        <td>@if(o.ipBan){IPBAN}</td>
        <td>@if(o.disabled){CLOSED}</td>
        <td>@momentFromNow(o.createdAt)</td>
      </tr>
      }
      }
    </tbody>
  </table>
  }
  <div class="listings clearfix">
    <div class="spy_ips">
      <strong>@spy.ips.size IP addresses</strong> <ul>@spy.ipsByLocations.map {
        case (location, ips) => {
        <li>
          <p>@location</p>
          <ul>
            @ips.map { ip =>
            <li class="ip">
              <span class="address@if(ip.blocked) { blocked }">@ip.ip</span>
            </li>
            }
          </ul>
        </li>
        }
        }
      </ul>
    </div>
    <div class="spy_uas">
      <strong>@spy.uas.size User agent(s)</strong> <ul>@spy.uas.sorted.map { ua =>
        <li>@ua</li>
        }</ul>
    </div>
  </div>
</div>
