@(doc: io.prismic.Document)(implicit ctx: Context, prismic: lila.blog.BlogApi.Context)

@side = {
<br />
<a href="@routes.Blog.index(prismic.maybeRef)" data-icon="I" class="text">Return to blog</a>
<br />
<br />
<a href="@routes.Blog.atom(prismic.maybeRef)" data-icon="3" class="text">Subscribe</a>
}

@layout(
title = s"${~doc.getText("blog.title")} | Blog",
side = side.some,
openGraph = lila.app.ui.OpenGraph(
`type` = "article",
image = doc.getImage("blog.image", "main").map(_.url),
title = ~doc.getText("blog.title"),
url = s"$netBaseUrl${routes.Blog.show(doc.id, doc.slug).url}",
description = ~doc.getText("blog.shortlede")).some) {

<h1 class="blog_title">@doc.getText("blog.title")</h1>
@meta(doc)
<strong class="shortlede">@doc.getHtml("blog.shortlede", prismic.linkResolver).map(Html.apply)</strong>
<div class="illustration">
  @doc.getImage("blog.image", "main").map { img =>
  <img src="@img.url" />
  }
</div>
<div class="body">
  @doc.getHtml("blog.body", prismic.linkResolver).map(Html.apply)
</div>
@NotForKids {
<div id="disqus_thread"></div>
<script type="text/javascript">
  var disqus_shortname = 'lichessorg'; // required: replace example with your forum shortname
  var disqus_identifier = '@doc.id';
  var disqus_title = '@doc.getText("blog.title")';
  (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
}
}
